<h1 style="margin-left: 70px"><%= @restaurant.name %></h1>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-offset-3">
      <p>A <%= @restaurant.category.capitalize %> restaurant.</p>
      <p>Address: <%= @restaurant.address %></p>
      <p><%= @restaurant.phone_number %></p>
    </div>
  </div>
</div>

<div class="container">
  <%= link_to "Back to all restaurants", restaurants_path %>
</div>
